/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3{
    color: #333;
}

p{
    color: #7074a7;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

.nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-itens{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin: 15px;
}

.navbar-itens a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-itens a:hover{
    color: #666;
}

.default-btn{
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
}

.navbar-itens .default-btn:hover{
    background-color: #22bb5f;
    color: #fff;
}

/* man banner */
.main-banner {
    background-image: url(../img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1, 
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner {
    font-size: 32px;
}

/* services */
.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}
